* {
    margin: 0;
}

.nav {
    display: flex;
    margin-left: 5vw;
}

.navbar {
    display: flex;
    width: 90vw;
    justify-content: space-between;
}
.navbar :nth-child(2) {
    div {
        img {
            width: 5vh;
        }
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    display: flex;

} 
.background {
    background-image: url(kw-background.png);
    background-size: 100vw 50vh;
    padding: 7vh 5vw 30vh 5vw;
}
.backtext {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 15vw;
    gap: 2vh;
}
.t1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.t2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
}
.bookscontent {
    margin-top: 20vh;
    padding-left: 3.5vw;
    height: 60vh;
}
.heading1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2vh;
}
.bookcard :nth-child(1){
    height: 37vh;
    width: 12vw ;
}
.bookcard {
    div {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
} 
.bookcard :nth-child(2) {
    font-weight: bolder;
}
.bookcard :nth-child(3) {
    font-size: 14px;
    color: rgb(169, 170, 168);
    font-weight: 500;
}
.price1 {
    display: flex;
    width: 12vw;
    justify-content: space-between;
}  
.price1 :nth-child(1) {
    display: flex;
    padding-top: 0.51vh;
    font-weight: bolder;
}
.price1 :nth-child(2) {
    img {
        height: 3vh;
    width: 3vh;
    }
    gap: 0.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 15vh;
    border-radius: 5px;
    background-color: rgb(97, 150, 255);
}
.books {
    display: grid;
    grid-template-columns: repeat(6, 15.9vw);
    grid-template-rows: repeat(1, 15vh);
}
.heading2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2vh;
}
.gamecontent {
    margin-top: 20vh;
    padding-left: 3.5vw;
    height: 60vh;
}
.gamecard {
    div {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
} 
.gamecard :nth-child(1) {
    height: 37vh;
    width: 20vw ;
}
.gamecard :nth-child(2) {
    font-weight: bolder;
}
.gamecard :nth-child(3) {
    font-size: 14px;
    color: rgb(169, 170, 168);
    font-weight: 500;
}
.games {
    display: grid;
    grid-template-columns: repeat(6, 23.8vw);
    grid-template-rows: repeat(1, 15vh);
}
.price2 {
    display: flex;
    width: 20vw;
    justify-content: space-between;
}  
.price2 :nth-child(1) {
    display: flex;
    padding-top: 0.51vh;
    font-weight: bolder;
}
.price2 :nth-child(2) {
    img {
        height: 3vh;
    width: 3vh;
    }
    gap: 0.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 8vw;
    border-radius: 5px;
    background-color: rgb(97, 150, 255);
}
.heading3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2vh;
}
.toycontent {
    margin-top: 20vh;
    padding-left: 3.5vw;
    height: 60vh;
}
.toycard {
    div {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
} 
.toycard :nth-child(1) {
    height: 37vh;
    width: 20vw ;
}
.toycard :nth-child(2) {
    font-weight: bolder;
}
.toycard :nth-child(3) {
    font-size: 14px;
    color: rgb(169, 170, 168);
    font-weight: 500;
}
.toys {
    display: grid;
    grid-template-columns: repeat(6, 23.8vw);
    grid-template-rows: repeat(1, 15vh);
}
.price3 {
    display: flex;
    width: 20vw;
    justify-content: space-between;
}  
.price3 :nth-child(1) {
    display: flex;
    padding-top: 0.51vh;
    font-weight: bolder;
}
.price3 :nth-child(2) {
    img {
        height: 3vh;
    width: 3vh;
    }
    gap: 0.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 8vw;
    border-radius: 5px;
    background-color: rgb(97, 150, 255);
}